@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: var(--accent-background-color);

  --accent-background-color: hsl(280, 75%, 30%);
  --accent-color: hsl(280, 75%, 20%);
  --primary-background-color: white;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

*::selection {
  color: white;
  background-color: hsl(340, 100%, 65%);
}
